/* src/components/TravelBlog/travelblog.css */

.travel-blog {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
}

.place-header {
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* Adjust the padding as needed */
}

.place-image {
    /* Adjust the width as needed to create a perfect square */
    width: 200px;
    height: 200px;

    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    border-radius: 5px;
}

.place-description {
    margin-top: 10px;
}